__pycache__
/venv
/pymaplib/*.dll
/pymaplib/*.pyd
/pymaplib/csv

# Ignore the downloaded packages but include patches and the pyinvoke script
/third-party/*
!/third-party/*.diff
!/third-party/tasks.py

# Ignore misc visual studio files
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.vcproj.*.user

# Ignore Debug, Release and Intellisense directories
Debug/
Release/
/pymaplib_cpp/build
/pymaplib_cpp/dist
/pymaplib_cpp/ipch/

# Ignore the various stuff we need for testing
/pymaplib_cpp/tests/*.dll
/pymaplib_cpp/tests/*.exe
/pymaplib_cpp/tests/build
/pymaplib_cpp/tests/csv
